### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### NodeJS ###
node_modules

### TypeScript ###
dist

### DotENV ###
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

## Certificates ##
certs/*
!certs/.gitkeep
