name: CD

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          host='${{ vars.SERVER_URL }}'
          hosts="$(dig +short "$host" | grep -v '\.$' | sed -z 's|\n|,|g')$host"
          ssh-keyscan -H "$hosts" > ~/.ssh/known_hosts

      - name: Trigger Deploy
        run: |
          ssh -t -i ~/.ssh/id_rsa horus@${{ vars.SERVER_URL }} "cd /home/horus/services/anime-list ; bash -s < /home/horus/services/anime-list/scripts/deploy.sh"
